* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("https://img.freepik.com/free-vector/stream-binary-code-design-vector_53876-170625.jpg?w=360&t=st=1729336082~exp=1729336682~hmac=81a1ca67881bd8abf70ced4fb75be3c7bca4a1c5e3027c395913e6d667da4785");
}